body {
  background-color: rgb(236, 232, 232);
}
.App {
  text-align: center;
}

.smurf-form {
  width: 75%;
  margin: 3rem auto;
}
.del {
  width: 5rem;
  margin-left: auto;
}
.card {
  font-size: 2rem;
  font-weight: 600;
  width: 60%;
  margin: 0 auto;
  background-color: darkcyan;
}